# This file is part of the Fuzion language implementation.
#
# The Fuzion language implementation is free software: you can redistribute it
# and/or modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation, version 3 of the License.
#
# The Fuzion language implementation is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
# License for more details.
#
# You should have received a copy of the GNU General Public License along with The
# Fuzion language implementation.  If not, see <https://www.gnu.org/licenses/>.


# -----------------------------------------------------------------------
#
#  Tokiwa Software GmbH, Germany
#
#  GitHub Actions workflow to build and test Fuzion on MacOS.
#
# -----------------------------------------------------------------------

name: run tests on macOS

# https://lobste.rs/s/ppjtie/simple_trick_save_environment_money_when
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read

on:
  push:
    branches:
      - 'main'
  pull_request: {}

env:
  PRECONDITIONS: true
  POSTCONDITIONS: true
  FUZION_REPRODUCIBLE_BUILD: true

jobs:
  run_tests:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: install dependencies
        run: |
          brew install bdw-gc gnu-sed make asciidoc asciidoctor pcre antlr coreutils
          echo "/opt/homebrew/opt/gnu-sed/libexec/gnubin:/opt/homebrew/opt/make/libexec/gnubin:/usr/local/opt/gnu-sed/libexec/gnubin:/usr/local/opt/gnu-make/libexec/gnubin:/usr/local/opt/coreutils/libexec/gnubin:$PATH" >> $GITHUB_PATH

      - name: sed version
        run: sed --version

      - name: make version
        run: make --version

      - name: build java code
        run: make javac

      - name: build (no java modules)
        run: make no-java

      - name: build docs
        run: make doc

      - name: run tests
        run: |
          export CPATH=/opt/homebrew/include
          export LIBRARY_PATH=/opt/homebrew/lib
          make run_tests_parallel

      - name: syntax check
        run: make syntaxcheck
