# This file is part of the Fuzion language implementation.
#
# The Fuzion language implementation is free software: you can redistribute it
# and/or modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation, version 3 of the License.
#
# The Fuzion language implementation is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
# License for more details.
#
# You should have received a copy of the GNU General Public License along with The
# Fuzion language implementation.  If not, see <https://www.gnu.org/licenses/>.


# -----------------------------------------------------------------------
#
#  Tokiwa Software GmbH, Germany
#
#  GitHub Actions workflow to build and test Fuzion on MacOS.
#
# -----------------------------------------------------------------------

name: run tests on macOS

# https://lobste.rs/s/ppjtie/simple_trick_save_environment_money_when
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1-5' # monday through friday

env:
  PRECONDITIONS: true
  POSTCONDITIONS: true
  FUZION_REPRODUCIBLE_BUILD: true
  dev_flang_tools_serializeFUIR: true
  dev_flang_fuir_analysis_dfa_DFA_MAX_ITERATIONS: 50


jobs:
  run_tests:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set environment variables
        run: |
          echo "CPATH=/opt/homebrew/include:$CPATH" >> $GITHUB_ENV
          echo "LIBRARY_PATH=/usr/lib:/opt/homebrew/lib/:/Library/Developer/CommandLineTools/usr/lib/:$LIBRARY_PATH" >> $GITHUB_ENV

      - name: install dependencies
        run: |
          brew install openjdk@25 bdw-gc gnu-sed make coreutils sqlite llvm wolfssl libsodium
          echo "/opt/homebrew/opt/gnu-sed/libexec/gnubin:/opt/homebrew/opt/make/libexec/gnubin:/usr/local/opt/gnu-sed/libexec/gnubin:/usr/local/opt/gnu-make/libexec/gnubin:/usr/local/opt/coreutils/libexec/gnubin:$PATH" >> $GITHUB_PATH


          export JAVA_HOME="$(brew --prefix openjdk@25)/libexec/openjdk.jdk/Contents/Home"
          echo "JAVA_HOME=$JAVA_HOME" >> $GITHUB_ENV
          echo "$JAVA_HOME/bin" >> $GITHUB_PATH

      - name: xcode-select # to have libclang available
        run: sudo xcode-select -s /Library/Developer/CommandLineTools

      - name: sed version
        run: sed --version

      - name: make version
        run: make --version

      - name: build java code
        run: make -j$(sysctl -n hw.ncpu) javac

      - name: build (no java modules)
        run: make -j$(sysctl -n hw.ncpu) no-java

      - name: run tests
        run: make run_tests
