name: github release

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    permissions:
      contents: write  # for ncipollo/release-action to create a release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v2.6.0

    - name: Setup jdk
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # main
      with:
        java-version: 21
        distribution: 'adopt'

    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install ruby-asciidoctor-pdf antlr4 asciidoc-base

    - name: build release
      run: make release

    - name: Read VERSION file
      id: getversion
      run: echo "version=$(cat version.txt)" >> $GITHUB_OUTPUT

    - uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1.18.0
      with:
        artifacts: "fuzion_${{ steps.getversion.outputs.version }}.tar.gz"
        tag: "v${{ steps.getversion.outputs.version }}"
        prerelease: false
        generateReleaseNotes: false
        token: ${{ secrets.GITHUB_TOKEN }}
