name: github release

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    permissions:
      contents: write  # for ncipollo/release-action to create a release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v2.6.0

    - name: Setup jdk-17
      uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # main
      with:
        java-version: 17
        distribution: 'adopt'

    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install ruby-asciidoctor-pdf antlr4 pcregrep asciidoc-base

    - name: build release
      run: make release

    - name: Read VERSION file
      id: getversion
      run: echo "::set-output name=version::$(cat version.txt)"

    - uses: ncipollo/release-action@6c75be85e571768fa31b40abf38de58ba0397db5 # v1.13.0
      with:
        artifacts: "fuzion_${{ steps.getversion.outputs.version }}.tar.gz"
        tag: "v${{ steps.getversion.outputs.version }}"
        prerelease: false
        generateReleaseNotes: false
        token: ${{ secrets.GITHUB_TOKEN }}
