name: run c tests on windows

permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  run_tests_c:
    name: windows run c tests
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@5beef6d11f48bba68b9eb503e3adc60b23c0cc36 # v2
        with:
          update: true
          path-type: minimal
          msystem: CLANG64
# git is used in Makefile: JAVA_FILE_TOOLS_VERSION
          install: >-
            make
            git
            mingw-w64-ucrt-x86_64-clang
            diffutils

      - name: install choco packages
        shell: powershell
        run: choco install openjdk --version 17.0.0

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v2.6.0

      - name: set PATH
        run: echo "/ucrt64/bin/:/c/Program Files/OpenJDK/jdk-17/bin:$PATH" >> $GITHUB_PATH

      - name: echo PATH
        run: echo "$PATH"

      - name: echo versions
        run: clang --version && javac --version

      - name: run tests
        run: make run_tests_c
